.gallery {
	.frame {
		width: 100%;
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: 25%;
			float: left;
			padding: 15px;

			.inner {
				width: 100%;
				border-bottom: 1px solid #555;

				.pic {
					width: 100%;
					margin-bottom: 10px;

					img {
						width: 100%;
					}
				}

				h2 {
					font-weight: normal;
					font-size: 1rem;
					line-height: 1.2;
					margin-bottom: 10px;
				}

				.profile {
					width: 100%;
					display: flex;
					align-items: flex-end;
					gap: 10px;
					margin-top: 20px;
					margin-bottom: 20px;

					img {
						width: 40px;
					}
					span {
						font-size: 0.7rem;
						color: orange;
						cursor: pointer;
					}
				}
			}
		}
	}
}

.laptop {
	.gallery {
		.frame {
			article {
				width: 32%;
			}
		}
	}
}

.tablet {
	.gallery {
		.frame {
			article {
				width: 48%;
			}
		}
	}
}

.mobile {
	.gallery {
		.frame {
			article {
				width: 100%;
			}
		}
	}
}