@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.layout {
  width: 70vw;
  margin: 100px auto;
  min-height: 60vh;
  transition: 0.2s;
  transform: translateY(200px);
  opacity: 0;

  h1 {
    font: normal 80px 'nanum myeongjo';
    color: #444;
    margin-bottom: 10px;

    span {
      opacity: 0;
      transform: scale(3);
      transition: 0.5s;
    }
  }
  .bar {
    width: 0px;
    height: 1px;
    background-color: #000;
    transition: 1s 1s;
    opacity: 0.8;
  }
  &.on {
    opacity: 1;
    transform: translateY(0px);
    h1 {
      span{
        opacity: 1;
        transform: scale(1);
      }
    }
    .bar {
      width: 80px;
    }
  }
}