@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.layout {
  width: 70vw;
  margin: 100px auto;
  min-height: 60vh;

  h1 {
    font: normal 80px 'nanum myeongjo';
    color: #444;
    margin-bottom: 30px;
  }
}