header {
  width: 100%;
  padding: 30px 15vw;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;

  h1 {
    font: bold 2rem/1 'nanum myeongjo';
    color:#222
  }

  ul {
    display: flex;
    gap: 50px;
    align-items: center;

    li a {
      color: #555;
      
      // 부모 선택자 뒤에 띄어쓰기 하면 적용 안됨.
      &.on {
        color: hotpink;
      }
    }
  }

  .bars {
    display: none;
  }
}

.tablet, .mobile {
  header {
    ul {
      display: none;
    }
    .bars {
      display: block;
    }
  }
}