.btns {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 3;

  li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;

    &.on {
      height: 100px;
      background: #000;
    }
  }
}
