.community {
  .wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .inputBox {
      width: 30%;
      padding-right: 50px;
      input,
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid #777;
        padding: 5px 10px;
        font-size: 1rem/1.2;
        color: #555;
        margin-bottom: 20px;
        resize: none;
      }
      nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        button {
          border: none;
          background: transparent;
          cursor: pointer;
          opacity: 0.5;
          transform: scale(0.9);
          transition:
            opacity 0.5s,
            transform 0.5s;

          &:hover {
            transform: scale(1.1);
            opacity: 1;
          }
        }
      }
    }

    .showBox {
      width: 70%;
      padding-left: 50px;
      border-left: 1px solid #ddd;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: var(--boxGap);

      article {
        // 실시간 변경이 되어야 하면 sass 변수를 쓰는게 아닌 일반 css 변수를 써야함.
        width: calc((100% - var(--boxGap) * (var(--countColumn) - 1)) / var(--countColumn));
        height: 30vh;
        background: rgb(225 225 225);
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;

        .txt {
          width: 100%;
          h2 {
            width: 100%;
            font-size: 1.5rem;
            padding-bottom: 10px;
            border-bottom: 1px solid #aaa;
            margin-bottom: 10px;
          }
          p {
            font: 1rem/1.4 "arial";
            color: #777;
            margin-bottom: 40px;
          }
          span {
            color: orangered;
            font-size: 0.8rem;
          }
        }
        nav {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          gap: 10px;

          button {
            border: none;
            background: transparent;
            cursor: pointer;

            &:nth-of-type(1) {
              color: orange;
            }
            &:nth-of-type(2) {
              color: orangered;
            }
          }
        }
      }
    }
  }
}
